DEBUG=False
SECRET_KEY=defina sua chave secreta
ALLOWED_HOSTS=localhost, 127.0.0.1
# DATABASE_URL=postgres://postgres:postgres@localhost/testdb
API_SECRET=HE52IsGGQkPDBUfjBHz4JKGASJE
API_KEY=187419836396963
CLOUD_NAME=dqfa2cc3w
INTERNAL_IPS=127.0.0.1
SENTRY_DSN=https://d9eddb27190a4043a57641a67d3906b2@o689921.ingest.sentry.io/5774370